.add-item-modal{
  .ant-modal-container{
    display: flex;
    flex-direction: column;
  }
  .ant-modal-body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex:1;
    flex-wrap: wrap;
    overflow-y: auto;
  }
}
