.ant-upload-wrapper{
  display: flex;
  align-items: center;
  gap: 8px;
}
.ant-upload-list-item{
  height: 32px !important;
  margin-top: 0 !important;
  
  & .ant-upload-list-item-thumbnail{
    width: 24px !important;
    height: 24px !important;
  }

}