@import "tailwindcss";

@layer base {
    :where(.ant-input) {
        /* استایل‌های پایه */
    }
}



:root {
    --gray-25: #FFFFFF;
    --gray-50: #FAFBFA;
    --gray-100: #F6F6F6;
    --gray-200: #E9ECEF;
    --gray-300: #D4D4D4;
    --gray-400: #B1B3B2;
    --gray-500: #979797;
    --gray-600: #7C7C7C;
    --gray-700: #4C4E4B;
    --gray-800: #3D3F3C;
    --gray-900: #2C2C2C;

    --brown-50: #F6F7F4;
    --brown-500: #8D5B2E;
    --brown-600: #9B4415;
    --brown-700: #4E2E1D;
    --brown-800: #4E2F1E;
    --brown-900: #2F1C11;

    --green-50: #E0E4DA;
    --green-100: #C9D0BC;
    --green-500: #8DC63F;
    --green-600: #84BD00;
    --green-700: #76C000;

    --red-500: #CC3931;

    --bg-header-table:#C1CFEF;
    --slate-500: #808C9E;
    --slate-600: #717570;
}

.btn-md{
    width: 100px;
}

.btn-lg{
    width: 150px;
}


.ant-divider{
    margin: 0 !important;
}